.nav_wrapper {
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.years,
.months,
.days {
  margin-bottom: 10px;
  display: block;
}

.years > *,
.months > *,
.days > * {
  position: relative;
  display: block;
  padding-bottom: 3px;
}

.years h1,
.months h2 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}

.years h1 {
  font-weight: bold;
}

.days > * {
  padding: 1px 2px;
  border-right: solid 1px white;
  text-decoration: none;
  background-color: #dedede;
  border-radius: 2px;
}
