.header {
  position: relative;
}

.scroller {
  z-index: 2;
  position: relative;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.scroller .days {
  padding-top: 50vh;
  padding-bottom: 50vh;
}

.scroller .days > * {
  display: block;
  text-decoration: none;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.1);
  opacity: 0;
}

.display {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 80vh;
  font-size: 20px;
  font-weight: bold;
}

.displayyears,
.displaymonths,
.displaydays {
  position: relative;
  font-size: 40px;
  line-height: 60px;
}

.displayyears > *,
.displaymonths > *,
.displaydays > * {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}

.displaymonths {
  left: 1.5em;
}

.displayyears {
  left: 3em;
}
